@page
@model BBMSRazorPages.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 style="text-align:center">Dashboard</h1>

<h2>Your Bookings</h2>

@if (Model.Bookings.Count == 0)
{
    <p>You have no bookings.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Court ID</th>
                <th>Booking Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Price</th>
                <th>Payment Method</th>
                <th>Services</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookingService in Model.BookingServices.DistinctBy(bs => bs.Booking))
            {
                <tr>
                    <td>@bookingService.Booking.BookingId</td>
                    <td>@bookingService.Booking.CourtId</td>
                    <td>@bookingService.Booking.BookingDate.ToShortDateString()</td>
                    <td>@bookingService.Booking.StartTime</td>
                    <td>@bookingService.Booking.EndTime</td>
                    <td>@bookingService.Booking.TotalPrice</td>
                    <td>@bookingService.Booking.PaymentMethod</td>
                    <td>
                        @foreach (var service in Model.GetBookingServicesByBookingId(bookingService.BookingId))
                        {
                            <ul>
                                <li>@service.Service.ServiceName - Quantity: @service.Quantity</li>
                            </ul>
                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
