@page
@model BBMSRazorPages.Pages.Booking.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            Html.DisplayNameFor(model => model.Booking.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            Html.DisplayFor(model => model.Booking.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Court)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Court.CourtName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
