@page
@model BBMSRazorPages.Pages.Services.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ServicePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ServicePrice)
        </dd>
    </dl>

    <form method="post" id="deleteForm">
        <input type="hidden" asp-for="Service.ServiceId" />
        <button type="button" class="btn btn-danger" onclick="checkMessage()">Delete</button> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Notification</h5>
            </div>
            <div class="modal-body">
                @Request.Query["message"]
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var message = '@Request.Query["message"]';
        if (message) {
            $('#messageModal').modal('show');
        }
    });

    function checkMessage() {
        var message = '@Request.Query["message"]';
        if (message) {
            $('#messageModal').modal('show');
        } else {
            submitForm();
        }
    }

    function submitForm() {
        document.getElementById('deleteForm').submit();
    }
</script>


